body {
    padding-top: 50px;
}

$ism: 35px;

.ln {
    border-bottom: 1px solid #ddd;
    padding: 6px 5%;
    display: flex;

    > input {
        border: 0;
        padding: 4px;
    
        &:nth-child(1) {
            width: 30%;
        }
        
        &:nth-child(2) {
            width: $ism;
        }

        &:nth-child(3) {
            width: $ism;
        }
    }
}
